In [54]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import time
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import StandardScaler

In [55]:
train = pd.read_csv('train-data.csv', index_col="Id")
test = pd.read_csv('test-data.csv', index_col='Id')

# Preprocessing

In [56]:
#train = train.drop(['Soil_Type40', 'Wilderness_Area4'], axis=1)
#test = test.drop(['Soil_Type40', 'Wilderness_Area4'], axis=1)

##### Drop dummies that are not explaining anything

In [57]:

train = train.drop(['Soil_Type15', 'Wilderness_Area4', 'Soil_Type7', 'Soil_Type8', 
                    'Soil_Type9', 'Soil_Type21', 'Soil_Type25', 'Soil_Type27', 
                    'Soil_Type28', 'Soil_Type36', 'Soil_Type19','Soil_Type26',
                   'Soil_Type34','Soil_Type37'], axis=1)
test = test.drop(['Soil_Type15', 'Wilderness_Area4', 'Soil_Type7', 'Soil_Type8', 
                    'Soil_Type9', 'Soil_Type21', 'Soil_Type25', 'Soil_Type27', 
                  'Soil_Type28', 'Soil_Type36','Soil_Type19','Soil_Type26',
                   'Soil_Type34','Soil_Type37'], axis=1)

In [58]:
# Convert to X_train, X_test, y_test
y_train = train['Cover_Type']
X_train = train.drop('Cover_Type', axis =1)
X_test = test

# Modeling

#### Simple KNN, K=1

In [59]:

neigh = KNeighborsClassifier(algorithm='ball_tree', leaf_size=2, metric='manhattan',
           metric_params=None, n_jobs=1, n_neighbors=1, p=1,
           weights='uniform')
neigh.fit(X_train, y_train)
y_predicted_knn = neigh.predict(X_test)
# score 0.68466

#### SVM Resulting from grid search

In [60]:


clf = SVC(C=6.25, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.0001, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)
clf.fit(X_train, y_train)
y_predicted_svm = clf.predict(X_test)
# 0.73666 still need to be tuned...

#### RandomForest from grid search

In [43]:
RF = RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
RF.fit(X_train, y_train)
y_predicted_rf = RF.predict(X_test)
#0.60600

#### Gradient Boosting from grid search:

In [61]:
grad = GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=10,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)
grad.fit(X_train, y_train)
y_predicted_grad = grad.predict(X_test)
#score 0.649

In [63]:
df_y = pd.DataFrame({'knn':y_predicted_knn, 'svm':y_predicted_svm, 'grad':y_predicted_grad})
df_y

       grad  knn  svm
0         7    7    1
1         1    7    7
2         1    7    7
3         1    7    7
4         1    1    1
5         1    1    1
6         1    1    1
7         1    1    1
8         1    1    1
9         1    1    1
10        1    1    1
11        1    1    1
12        1    1    1
13        1    1    1
14        1    1    1
15        1    7    1
16        1    1    1
17        1    1    1
18        1    1    1
19        1    1    1
20        1    1    1
21        1    1    1
22        2    1    1
23        2    1    1
24        2    1    1
25        2    2    2
26        2    2    2
27        2    2    2
28        2    1    2
29        2    2    2
...     ...  ...  ...
19970     2    2    2
19971     2    2    2
19972     2    2    2
19973     2    2    2
19974     2    2    2
19975     5    5    2
19976     5    5    2
19977     3    2    2
19978     5    2    2
19979     3    5    2
19980     3    5    2
19981     3    5    2
19982     3    5    2
19983     3    5    2
19984     3    5    2
19985     3    5    2
19986     3    5    2
19987     3    6    2
19988     3    5    2
19989     3    5    2
19990     3    5    2
19991     3    3    2
19992     3    6    2
19993     3    5    2
19994     5    5    2
19995     3    5    2
19996     3    3    6
19997     2    2    2
19998     3    2    2
19999     2    6    2

[20000 rows x 3 columns]

#### Building a voting classifier

In [64]:
def vote_label(knn, svm, grad):
    labels = [1, 2, 3, 4, 5, 6, 7]
    count = 0
    votes = [0, 0, 0, 0, 0, 0, 0]
    for i in labels:
        if knn == i:
            votes[count] = votes[count] + 0.68466
        if svm == i:
            votes[count] = votes[count] + 0.73666
        #if rf == i:
            #votes[count] = votes[count] + 0.60600
        if grad ==i:
            votes[count] = votes[count] + 0.64999
        count = count+1
    max_index = votes.index(max(votes))
    return labels[max_index]
df_y['total'] = df_y.apply(lambda x: vote_label(x['knn'], x['svm'], x['grad']), axis=1) 
#0.68466 0.73666 0.60600 0.64999

In [65]:
df_y

       grad  knn  svm  total
0         7    7    1      7
1         1    7    7      7
2         1    7    7      7
3         1    7    7      7
4         1    1    1      1
5         1    1    1      1
6         1    1    1      1
7         1    1    1      1
8         1    1    1      1
9         1    1    1      1
10        1    1    1      1
11        1    1    1      1
12        1    1    1      1
13        1    1    1      1
14        1    1    1      1
15        1    7    1      1
16        1    1    1      1
17        1    1    1      1
18        1    1    1      1
19        1    1    1      1
20        1    1    1      1
21        1    1    1      1
22        2    1    1      1
23        2    1    1      1
24        2    1    1      1
25        2    2    2      2
26        2    2    2      2
27        2    2    2      2
28        2    1    2      2
29        2    2    2      2
...     ...  ...  ...    ...
19970     2    2    2      2
19971     2    2    2      2
19972     2    2    2      2
19973     2    2    2      2
19974     2    2    2      2
19975     5    5    2      5
19976     5    5    2      5
19977     3    2    2      2
19978     5    2    2      2
19979     3    5    2      2
19980     3    5    2      2
19981     3    5    2      2
19982     3    5    2      2
19983     3    5    2      2
19984     3    5    2      2
19985     3    5    2      2
19986     3    5    2      2
19987     3    6    2      2
19988     3    5    2      2
19989     3    5    2      2
19990     3    5    2      2
19991     3    3    2      3
19992     3    6    2      2
19993     3    5    2      2
19994     5    5    2      5
19995     3    5    2      2
19996     3    3    6      3
19997     2    2    2      2
19998     3    2    2      2
19999     2    6    2      2

[20000 rows x 4 columns]

In [ ]:
from sklearn.ensemble import VotingClassifier
vote = VotingClassifier(estimators=[
        ('knn', neigh), ('svm', clf), ('rf', RF)], voting='hard', weights=[0.68466, 0.73666, 0.60600])
vote.fit(X_train, y_train)
y_predicted = vote.predict(X_test)

# Save to csv file

In [66]:
y_predicted = [int(i) for i in df_y['total'] ]
df_to_csv = pd.DataFrame({'Cover_Type':y_predicted}, index=test.index)
df_to_csv.head()

       Cover_Type
Id
15121           7
15122           7
15123           7
15124           7
15125           1

In [67]:
df_to_csv.to_csv('answer.csv')

In [68]:
df_to_csv['Cover_Type'].value_counts()

2    10494
1     6279
6     1216
3      890
5      708
7      411
4        2
Name: Cover_Type, dtype: int64

## Tests and gridsearch:

In [ ]:
xtrain, xtest,ytrain,ytest = train_test_split(X_train, y_train, test_size = 0.2)

In [ ]:
scores = []
for k in range(1, len(xtest), 4):
    print(k)
    neigh = KNeighborsClassifier(algorithm='ball_tree', leaf_size=20, metric='manhattan',
           metric_params=None, n_jobs=-1, n_neighbors=k, p=1,
           weights='uniform')
    neigh.fit(xtrain, ytrain)
    y_predicted = neigh.predict(xtest)
    res = y_predicted - ytest
    res=list(res)
    scores.append(res.count(0)/len(ytest))

In [20]:
%%time
import os
# Grid search SVM
parameters = {'gamma':[0.0001, 0.00001], 'C':[5, 5.5, 6, 6.5, 7, 7.5, 8]}
svc = SVC(kernel='rbf')
clf = GridSearchCV(svc, parameters, n_jobs=-1)
clf.fit(X_train, y_train)
os.system('say "Gridsearch nullissime, ca ne score même pas 0.5"')

CPU times: user 7.61 s, sys: 169 ms, total: 7.78 s
Wall time: 4min 11s

In [21]:
clf.best_estimator_

SVC(C=8, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1e-05, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [ ]:
%%time
parameters = {'n_neighbors':[1, 2, 3, 4], 'leaf_size':[1, 2, 3, 4]}
neigh = KNeighborsClassifier(algorithm='ball_tree', metric='manhattan',
           metric_params=None, p=1,
           weights='uniform')
neighcv = GridSearchCV(neigh, parameters, n_jobs=-1)
neighcv.fit(X_train, y_train)

In [ ]:
neighcv.best_estimator_

In [ ]:
RF = RandomForestClassifier(n_jobs=-1)
RF.get_params()

In [ ]:
%%time
parameters = {'min_impurity_decrease':[0, 1, 10, 100], 'min_samples_leaf':[1, 10, 100, 1000], 
              'min_samples_split':[2, 10, 100], 'n_estimators':[1, 10, 100, 1000]}
RFcv = GridSearchCV(RF, parameters, n_jobs=-1)
RFcv.fit(X_train, y_train)

In [ ]:
RFcv.best_estimator_

In [ ]:
from sklearn.linear_model import SGDClassifier

In [ ]:
%%time
clf = SGDClassifier(loss="hinge", penalty="l2")
parameters = {'alpha': [0.0001, 0.00001], 'power_t':[2, 3, 4, 5, 6, 7, 8, 9, 10]}
clfcv = GridSearchCV(clf, parameters, n_jobs=-1)
clfcv.fit(X_train, y_train)

In [ ]:
clfcv.best_estimator_

In [ ]:
from sklearn.kernel_approximation import RBFSampler
rbf_feature = RBFSampler(gamma=1, random_state=1)
parameters = {'alpha': [0.0001, 0.00001], 'power_t':[2, 3, 4, 5, 6, 7, 8, 9, 10]}
rbf_featurecv = GridSearchCV(clf, parameters, n_jobs=-1)
rbf_featurecv.fit(X_train, y_train)
#X_features = rbf_feature.fit_transform(X)

In [ ]:
%%time
from sklearn.ensemble import BaggingClassifier
bagging = BaggingClassifier(SVC(C=6.25, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.0001, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False), max_samples=0.5, max_features=0.5)
parameters = {'max_samples':[0.1, 0.25, 0.5, 0.75, 1], 'max_features':[0.1, 0.25, 0.5, 0.75, 1]}
baggingcv = GridSearchCV(bagging, parameters, n_jobs=-1)
baggingcv.fit(X_train, y_train)

In [ ]:
baggingcv.best_estimator_

In [5]:
from sklearn.ensemble import GradientBoostingClassifier

In [14]:
grad = GradientBoostingClassifier()
grad.get_params()

{'criterion': 'friedman_mse',
 'init': None,
 'learning_rate': 0.1,
 'loss': 'deviance',
 'max_depth': 3,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'presort': 'auto',
 'random_state': None,
 'subsample': 1.0,
 'verbose': 0,
 'warm_start': False}

In [24]:
%%time
parameters = {'max_depth': [10, 12.5, 15], 'n_estimators':[100]}
gradcv = GridSearchCV(grad, parameters, n_jobs=-1)
gradcv.fit(X_train, y_train)

CPU times: user 1min 27s, sys: 901 ms, total: 1min 28s
Wall time: 5min 50s

In [25]:
gradcv.best_estimator_

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=10,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [16]:
from sklearn.ensemble import AdaBoostClassifier

In [17]:
ada = AdaBoostClassifier()

In [19]:
ada.get_params()

{'algorithm': 'SAMME.R',
 'base_estimator': None,
 'learning_rate': 1.0,
 'n_estimators': 50,
 'random_state': None}

In [23]:
%%time
parameters = {'learning_rate': [0.1,0.25, 0.5, 0.75, 1], 'n_estimators':[50, 75, 100, 1000]}
adacv = GridSearchCV(ada, parameters, n_jobs=-1)
adacv.fit(X_train, y_train)

CPU times: user 1.44 s, sys: 92.1 ms, total: 1.53 s
Wall time: 1min 21s

In [24]:
adacv.best_estimator_

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1,
          n_estimators=50, random_state=None)

In [31]:
for i in X_train.shape[1]:
    print(summary(X_train[][i]))

SyntaxError: invalid syntax (<ipython-input-31-0a1e2aef5725>, line 2)

In [75]:
X_test.shape

(20000, 44)

In [35]:
for i in X_test.columns.values:
    print(i)
    print(X_train[i].value_counts())
    print('__________________')

Elevation
2290    25
2830    25
3371    24
3244    23
2820    23
2955    23
2795    23
2952    23
2962    22
2304    22
2809    22
2978    22
2413    22
2707    22
2850    22
2763    22
2289    21
2739    21
2827    21
2784    21
2807    21
2328    21
2311    20
3256    20
2751    20
2336    20
2340    20
2317    20
2264    20
3400    20
        ..
3529     1
3537     1
3722     1
3495     1
3491     1
3721     1
1932     1
3559     1
3753     1
3761     1
3591     1
3475     1
3499     1
3836     1
1997     1
3844     1
1901     1
1925     1
1965     1
1973     1
1989     1
3731     1
3523     1
3675     1
3643     1
3635     1
3603     1
3555     1
3497     1
3737     1
Name: Elevation, Length: 1665, dtype: int64
__________________
Aspect
45     117
0      110
90     109
63      89
76      87
27      82
315     81
75      80
108     79
117     78
34      77
72      77
121     77
135     75
80      75
57      75
53      74
62      73
124     71
86      71
61      71
111     70
18      70
84      70
52      69
101     68
93      68
39      68
49      68
87      67
      ...
230     17
222     17
154     17
268     17
236     17
239     16
262     15
256     15
199     15
244     15
217     15
220     15
258     15
250     15
221     14
227     14
237     14
241     14
245     13
235     13
242     13
246     13
278     13
218     12
224     11
263     10
248     10
249      9
226      7
360      2
Name: Aspect, Length: 361, dtype: int64
__________________
Slope
11    740
10    739
13    717
14    699
12    677
9     664
15    664
16    640
17    598
8     574
7     573
18    558
20    552
19    519
21    465
6     465
22    458
23    450
5     423
24    394
25    359
26    329
28    313
4     305
27    297
29    258
31    218
30    216
3     210
32    187
33    143
2     134
34    131
35    101
1      78
36     68
37     58
38     36
39     32
41     18
40     16
46     15
0       5
49      5
44      5
42      3
45      3
47      3
43      2
48      1
50      1
52      1
Name: Slope, dtype: int64
__________________
Horizontal_Distance_To_Hydrology
0       1590
30      1207
150      497
60       490
42       452
67       411
85       381
108      361
90       284
120      283
95       259
134      255
124      247
212      212
277      188
242      188
162      188
190      185
175      183
180      174
201      167
127      166
210      160
192      160
228      157
268      137
234      136
170      133
240      132
300      129
        ...
850        1
810        1
794        1
738        1
1201       1
1121       1
1073       1
1057       1
1033       1
1025       1
937        1
1090       1
1114       1
1138       1
1091       1
764        1
708        1
1203       1
1123       1
1199       1
1099       1
1075       1
1218       1
1027       1
1019       1
987        1
939        1
907        1
891        1
1115       1
Name: Horizontal_Distance_To_Hydrology, Length: 400, dtype: int64
__________________
Vertical_Distance_To_Hydrology
 0      1890
 5       217
 3       206
 4       200
 8       198
 7       182
 10      176
 9       166
 2       165
 6       162
 11      159
 12      159
 13      158
 22      140
 14      140
 1       139
 20      135
 23      133
 16      132
 17      126
 19      126
 21      125
-1       123
 25      122
 18      121
 15      120
-2       120
 37      114
 29      114
 26      114
        ...
-95        1
-103       1
 249       1
 289       1
 305       1
 321       1
 345       1
 369       1
 393       1
 401       1
-54        1
-110       1
-134       1
 258       1
 266       1
 274       1
 282       1
 330       1
 338       1
 346       1
 554       1
-61        1
-69        1
-85        1
 291       1
 299       1
 315       1
 387       1
 327       1
 395       1
Name: Vertical_Distance_To_Hydrology, Length: 423, dtype: int64
__________________
Horizontal_Distance_To_Roadways
150     88
120     56
390     47
618     45
1110    43
700     41
108     38
1273    37
900     37
212     37
335     37
990     37
242     36
607     36
361     35
1082    35
228     34
750     34
277     34
450     34
1050    34
1020    34
960     33
1167    33
1140    33
360     32
180     32
484     31
210     31
300     31
        ..
4440     1
2748     1
2403     1
3546     1
3538     1
2975     1
2427     1
3530     1
2435     1
2443     1
3586     1
4400     1
4751     1
3071     1
3618     1
5204     1
5164     1
4320     1
3610     1
4328     1
3103     1
3594     1
5641     1
5132     1
2307     1
4360     1
5124     1
2323     1
4384     1
2827     1
Name: Horizontal_Distance_To_Roadways, Length: 3250, dtype: int64
__________________
Hillshade_9am
226    279
229    269
224    265
228    261
230    260
233    248
223    245
219    242
231    239
225    236
232    234
221    231
235    228
236    225
222    223
227    222
234    222
238    220
239    218
242    213
220    212
237    207
241    201
218    201
245    201
253    200
249    195
216    193
250    192
254    190
      ...
101      5
88       4
99       4
83       3
93       3
102      3
106      3
100      2
80       2
96       2
104      2
59       2
103      2
95       2
108      2
85       2
112      1
86       1
78       1
109      1
81       1
73       1
92       1
98       1
90       1
58       1
97       1
89       1
65       1
0        1
Name: Hillshade_9am, Length: 176, dtype: int64
__________________
Hillshade_Noon
225    327
229    324
226    320
224    313
230    311
223    303
232    298
222    297
228    294
218    293
221    292
227    289
231    284
220    272
236    270
234    269
216    266
214    263
233    261
215    255
211    251
219    247
217    247
235    232
244    228
237    224
238    214
246    214
213    210
247    210
      ...
146      6
133      6
142      4
143      4
130      4
99       4
136      4
137      4
145      4
113      3
124      3
126      3
135      3
111      2
144      2
120      2
116      1
125      1
102      1
118      1
114      1
134      1
103      1
139      1
119      1
127      1
115      1
107      1
128      1
121      1
Name: Hillshade_Noon, Length: 141, dtype: int64
__________________
Hillshade_3pm
143    182
149    161
132    156
133    154
142    154
136    154
137    152
138    148
154    148
152    145
150    144
157    141
151    139
135    138
148    138
144    137
115    136
156    136
163    135
124    134
130    133
118    133
131    132
129    132
121    130
145    130
146    129
128    128
141    126
125    126
      ...
236      8
238      8
23       8
237      8
34       8
17       7
240      7
12       7
15       6
239      5
16       5
14       5
247      4
19       4
245      4
246      4
243      4
10       3
242      3
3        3
244      3
241      3
11       2
6        2
9        2
248      2
1        1
4        1
7        1
8        1
Name: Hillshade_3pm, Length: 247, dtype: int64
__________________
Horizontal_Distance_To_Fire_Points
618     65
541     51
636     45
607     43
573     42
960     42
752     41
942     40
342     40
242     40
277     39
977     39
212     38
524     37
700     37
335     37
902     37
726     36
484     36
408     36
997     35
391     35
808     35
671     34
912     34
631     34
430     33
845     33
872     33
361     33
        ..
2428     1
2331     1
4288     1
4085     1
2052     1
6409     1
4119     1
2076     1
2283     1
4159     1
4320     1
2116     1
6214     1
6222     1
4175     1
6230     1
4471     1
4272     1
4191     1
2156     1
4264     1
4231     1
6310     1
4311     1
4335     1
6390     1
2300     1
2380     1
2139     1
6017     1
Name: Horizontal_Distance_To_Fire_Points, Length: 2710, dtype: int64
__________________
Wilderness_Area1
0    11523
1     3597
Name: Wilderness_Area1, dtype: int64
__________________
Wilderness_Area2
0    14621
1      499
Name: Wilderness_Area2, dtype: int64
__________________
Wilderness_Area3
0    8771
1    6349
Name: Wilderness_Area3, dtype: int64
__________________
Soil_Type1
0    14765
1      355
Name: Soil_Type1, dtype: int64
__________________
Soil_Type2
0    14497
1      623
Name: Soil_Type2, dtype: int64
__________________
Soil_Type3
0    14158
1      962
Name: Soil_Type3, dtype: int64
__________________
Soil_Type4
0    14277
1      843
Name: Soil_Type4, dtype: int64
__________________
Soil_Type5
0    14955
1      165
Name: Soil_Type5, dtype: int64
__________________
Soil_Type6
0    14470
1      650
Name: Soil_Type6, dtype: int64
__________________
Soil_Type10
0    12978
1     2142
Name: Soil_Type10, dtype: int64
__________________
Soil_Type11
0    14714
1      406
Name: Soil_Type11, dtype: int64
__________________
Soil_Type12
0    14893
1      227
Name: Soil_Type12, dtype: int64
__________________
Soil_Type13
0    14644
1      476
Name: Soil_Type13, dtype: int64
__________________
Soil_Type14
0    14951
1      169
Name: Soil_Type14, dtype: int64
__________________
Soil_Type16
0    15006
1      114
Name: Soil_Type16, dtype: int64
__________________
Soil_Type17
0    14508
1      612
Name: Soil_Type17, dtype: int64
__________________
Soil_Type18
0    15060
1       60
Name: Soil_Type18, dtype: int64
__________________
Soil_Type20
0    14981
1      139
Name: Soil_Type20, dtype: int64
__________________
Soil_Type22
0    14775
1      345
Name: Soil_Type22, dtype: int64
__________________
Soil_Type23
0    14363
1      757
Name: Soil_Type23, dtype: int64
__________________
Soil_Type24
0    14863
1      257
Name: Soil_Type24, dtype: int64
__________________
Soil_Type29
0    13829
1     1291
Name: Soil_Type29, dtype: int64
__________________
Soil_Type30
0    14395
1      725
Name: Soil_Type30, dtype: int64
__________________
Soil_Type31
0    14788
1      332
Name: Soil_Type31, dtype: int64
__________________
Soil_Type32
0    14430
1      690
Name: Soil_Type32, dtype: int64
__________________
Soil_Type33
0    14504
1      616
Name: Soil_Type33, dtype: int64
__________________
Soil_Type35
0    15018
1      102
Name: Soil_Type35, dtype: int64
__________________
Soil_Type38
0    14392
1      728
Name: Soil_Type38, dtype: int64
__________________
Soil_Type39
0    14463
1      657
Name: Soil_Type39, dtype: int64
__________________
Soil_Type40
0    14661
1      459
Name: Soil_Type40, dtype: int64
__________________

In [ ]:
# Il faut drop Soil_Type 15 et Soil_Type7
# Il faut aussi drop Soil_Type8, Soil_Type9, Soil_Type21, 25, 27, 28, 36

In [48]:
X_train['Soil_Type1'].value_counts()

0    14765
1      355
Name: Soil_Type1, dtype: int64